module.exports = {
  // 点击方法：标记所有符合class定位的词
  tap: function(event, ownerInstance) {
    var extra = event.currentTarget.dataset.extra;
    var text = extra[0];
    var location = extra[1];
    var instance = ownerInstance.selectAllComponents('.item.' + text);
    for (var i = 0; i < instance.length; i++) {
      instance[i].setStyle({
        "background": "greenyellow",
      })
    }
    // 触发事件tapword，传递点击的文本数据及位置信息
    ownerInstance.triggerEvent('tapword', {text: text, location: location})
    return true;
  },
  // 根据逻辑层反馈，重新设置当前单词样式
  remarkThisWord: function (newValue, oldValue, ownerInstance, instance) {
    if (newValue) {
      // console.log('tappable-passage.wxs.remarkThisWord is called.')
      // console.log('newValue is ' + JSON.stringify(newValue))
      var instance = ownerInstance.selectAllComponents('.item.' + newValue['word']);
      for (var i = 0; i < instance.length; i++) {
        instance[i].setStyle(newValue['style']) // 再根据要求设置为新样式
      }
    }
  },
  // 在passage中对words设置style
  highlight: function(newValue, oldValue, ownerInstance, instance) {
    if (newValue) {
      for (var i = 0; i < newValue.length; i++) {
        var words = newValue[i]['words'];
        var style = newValue[i]['style'];
        for (var j = 0; j < words.length; j++) {
          var instance = ownerInstance.selectAllComponents('.item.' + words[j]);
          for (var k = 0; k < instance.length; k++) {
            instance[k].setStyle(style);
          }
        }
      }
    }
  }
}