module.exports = {
  tapWordView: function (event, ownerInstance) {
    console.log("tutorial.wxs tapWordView() is called.")
    console.log(JSON.stringify(event))
    var className = '.item' + '.' + event.currentTarget.dataset.text;
    console.log(className)
    var instance = ownerInstance.selectAllComponents(className)
    for (var i = 0; i < instance.length; i++) {
      instance[i].setStyle({
        "background": "greenyellow",
      })
    }
    let a = {a:1,b:2};
    for (var i = 0; i < Object.keys(a).length; i++) {
      console.log(i)
      console.log(a[i])
    }
    console.log(JSON.stringify(instance))
    return true;
  }
}

